
<h3>{{tableName}}</h3>
<h3>{{changeValue}}</h3>
<h3>{{getAge()}}</h3>

<button  type="button" class="btn btn-danger"  (click)="setData()">Set data</button> <br> <br>

<button  type="button" class="btn btn-danger"  (click)="printTableName()">Print</button> <br> <br>

  <table class="table table-dark" [ngClass]="{'my-width': age>0 }">
    <thead>
      <tr  [ngStyle]="{'background-color': age>10 ? 'red': 'black'}">
        <th scope="col">Name</th>
        <th scope="col">Subject</th>
        <th scope="col">Marks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getStudentDataArray()">
        <ng-container>
          <td>{{item.name}}</td>
          <td>{{item.subject}}</td>
          <td>{{item.marks}}</td>
      </ng-container>
      </tr>
    </tbody>
  </table>
  bt

  <div [ngSwitch]="age">

    <span *ngSwitchCase="20">Your age is 20</span>
    <span *ngSwitchCase="18">Your age is 18</span>
    <span *ngSwitchCase="15">Your age is 15</span>
    <span *ngSwitchDefault>***********************</span>

</div>





<app-input-with-button
 [isVisibleClickButton]="true" 
 (tableOutputEvent)="getOutputFronChildInput($event)"
 
[isVisibleClickButtonOne1] = "data1"
[isVisibleClickButtonOne1] = "data2"
[isVisibleClickButtonOne1] = "data3"

 ></app-input-with-button>


<br> <br> <br> <br>
<button  type="button" class="btn btn-primary"  (click)="buttonEvent1()">Click me1</button> <br> <br>
<button  type="button" class="btn btn-primary"  (click)="buttonEvent2()">Click me2</button> <br> <br>
<button  type="button" class="btn btn-primary"  (click)="buttonEvent3()">Click me3</button> <br> <br>






