<div class="container">
    <input [(ngModel)]="userEmail" type="text">
    <div class="row">
        <div class="col">
            <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of users">
                    <th >{{item.email}}</th>
                    <th >{{item.first_name}}</th>
                    <th >{{item.last_name}}</th>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <button (click)="createUser()">Create user</button>
</div>