<div class="container">
    <div class="row">
      <div class="col-md-4">
        <input [(ngModel)]="changeValue" (keypress)="getTypeValue($event)" class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="col-md-2">
        <button *ngIf="isVisibleClickButton" type="button" class="btn btn-primary"  (click)="buttonEvent()">Click me</button>
      </div>
    </div>
  </div>