<h1>Hello World</h1>
<!-- <app-table [isHomePage]="myValue" (tableOutputEvent)="getValue($event)"></app-table> -->
<button type="button" (click)="navigateToTable()" class="btn btn-warning">Go to Table</button>
<button type="button" (click)="navigateToProducts()" class="btn btn-danger">Go to Products</button>
<button type="button" (click)="navigateToUsers()" class="btn btn-info">Go to Users</button>
<router-outlet></router-outlet>
